doctype xml
doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="Content-Type" content="text/html")
		meta(http-equiv="content-type" content="text/html; charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title spatial.linkedscience.org
		//link(rel="stylesheet", href="bootstrap.min.css")
		//link(rel="stylesheet", href="leaflet.css")
		link(rel="stylesheet", href="spatial.css")
	body
		//navbar
		.navbar.navbar-inverse.navbar-static-top#navbar
			.container
				.container
					.navbar-header
						.navbar-brand(href='#') SPATIAL@LINKEDSCIENCE
					ul.nav.navbar-nav
						li: a(href='#aboutModal', data-toggle='modal') About
					form.navbar-form.navbar-right(role='search')
						.form-group
							input.form-control#search(
								type='text',
								size='30px',
								placeholder='Search',
								autocomplete='off',
								autofocus)
						button.btn.btn-default(
							type='button',
							data-toggle='collapse',
							data-target='#filters') Filters
						.collapse.out#filters
							label(for='conference') Conference
							select#conference(name='conference')
								option(value='null') - none-
								option(value='acmgis') ACM GIS
								option(value='agile') AGILE
								option(value='cosit') COSIT
								option(value='giscience') GIScience
		//body
		#map
		.container
			h3#infoheader
			ul#info
			.row
				.col-md-4
					h2#authorsheader
					ul#people
				.col-md-8
					h2#papersheader
					ul#papers
		//scripts
		//script(src='bower_components/jquery/dist/jquery.min.js')
		//script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
		//script(src='bower_components/leaflet/dist/leaflet.js')
		script(src='spatial-min.js')
